<div class="form-group row">
    <label for="inputSize" class="col-sm-2 col-form-label">Size</label>
    <div class="col-sm-3">
        <input type="number" class="form-control" id="inputSize" name="Attribute[Size]" placeholder="Product Size (Mb)" required>
    </div>
</div>