<div class="form-group row">
    <label for="inputWeight" class="col-sm-2 col-form-label">Weight</label>
    <div class="col-sm-3">
        <input type="number" step="0.01" class="form-control" id="inputWeight" name="Attribute[Weight]" placeholder="Product Weight (kg)" required>
    </div>
</div>