<div class="form-group row">
    <label for="inputHeight" class="col-sm-2 col-form-label">Height</label>
    <div class="col-sm-3">
        <input type="number" step="0.01" class="form-control" id="inputHeight" name="Attribute[Height]" placeholder="Product Height (cm)" required>
    </div>
</div>
<div class="form-group row">
    <label for="inputWidth" class="col-sm-2 col-form-label">Width</label>
    <div class="col-sm-3">
        <input type="number" step="0.01" class="form-control" id="inputWidth" name="Attribute[Width]" placeholder="Product Width (cm)" required>
    </div>
</div>
<div class="form-group row">
    <label for="inputLength" class="col-sm-2 col-form-label">Length</label>
    <div class="col-sm-3">
        <input type="number" step="0.01" class="form-control" id="inputLength" name="Attribute[Length]" placeholder="Product Length (cm)" required>
    </div>
</div>